[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
max_connections=500
innodb_buffer_pool_size=256M
# log_error = /var/log/mysql/error.log
#  最佳实践建议：在 Docker 环境中，不要将 MySQL 日志写入独立文件，而是让其自然输出到 stdout/stderr，统一由 Docker 日志驱动管理。这样既避免权限问题，又便于 docker logs 查看和日志收集工具（如 Fluentd、Loki）对接。
innodb_print_all_deadlocks = ON

# 2（默认）：只打印错误 / 警告，过滤掉 Note 级别的死锁标题行，只剩纯锁事务文本
# 3：允许输出所有 Note 级日志，才会带上识别头部、时间戳、标识语句，方便 grep 检索死锁块MySQL
log_error_verbosity = 3