<!DOCTYPE generatorConfiguration PUBLIC
        "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <context id="dsql" targetRuntime="MyBatis3">
        <plugin type="org.mybatis.generator.plugins.FluentBuilderMethodsPlugin"/>
        <plugin type="org.mybatis.generator.plugins.ToStringPlugin"/>
        <plugin type="org.mybatis.generator.plugins.SerializablePlugin"/>
<!--        <plugin type="org.mybatis.generator.plugins.RowBoundsPlugin"/>-->
        <plugin type="org.mybatis.generator.plugins.EqualsHashCodePlugin"/>
        <plugin type="codegen.generator.mbg.plugin.MysqlLimitPlugin"/>
        <plugin type="codegen.generator.mbg.plugin.bussinesssql.CloseSomeFuncPlugin"/>
        <plugin type="codegen.generator.mbg.plugin.bussinesssql.InsertBatchSqlPlugin"/>
        <plugin type="codegen.generator.mbg.plugin.CommentPlugin"/>


        <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver"
                        connectionURL="jdbc:mysql://localhost:3306/yiibaidb" userId="root" password="root"/>

        <javaModelGenerator targetPackage="com.example.springboot.hellospringboot.domain.pojo.mbg"
                            targetProject="hello-mybatis-generator/target/out">
            <property name="exampleTargetPackage"
                      value="com.example.springboot.hellospringboot.domain.pojo.mbg.example"/>
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="resources.mappers.mbg"
                         targetProject="hello-mybatis-generator/target/out"/>

        <javaClientGenerator type="XMLMAPPER"
                             targetPackage="com.example.springboot.hellospringboot.dao.mybatis.mbg"
                             targetProject="hello-mybatis-generator/target/out"/>

        <table tableName="auto_dashboard">
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>
    </context>
</generatorConfiguration>