

.businessListContainer{
    width: 15%;
    min-width: 300px;
    /* max-width: 350px; */
    height: 100%;
    /* 用于作为button的包含元素用于button的定位 */
    position: relative;
    background-color: rgb(171, 198, 223);
}
.businessList{
    /* width: 30%; */
    overflow-y: scroll;
    /* 将列表拉高，使得滚动条边长 */
    height: 100%;
}

.addBusinessButton:hover{
    transition: 1000ms;
    opacity: 1;
}

.addBusinessButton{
    opacity: 0.2;
    /* antd的css本身是fixed定位的 */
    position: absolute;
    left: 70%;
    bottom: 5%;
    /* hover离开的时候也可以有动画 */
    transition: 1000ms; 
    z-index: 5;


}